

.review-container {
	background-color: #999999;
	width: 100%;
	height: 275px;
}

.public-reviews-container {
    background-color: #999999;
    display: flex;
    gap: 5px
}

.review-title {
	background-color: #999999;
	color: black;
	display: flex;
	justify-content: center;
}

.review1, .review2, .review3, .review4 {
	background-color: white;
	height: 275px;
	width: 150px;
	color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
}

.cust-name-title {
	background-color: white;
	color: black;
}

.cust-review-para {
	background-color: white;
	color: black;
    font-size: 0.5em;
}

.cust-review-img, .cust-review-img2, .cust-review-img3, .cust-review-img4 {
	width: 20%;
    border-radius: 50%;
}

.cust-review-img3 {
    margin-top: 30%;
    width: 30%;
}

.review-stars {
    width: 40%;
}